<div>
  <!-- START panel-->
  <div class="panel panel-default">
    <form ngNoForm [formGroup]="parametrageForm" (keydown.enter)="searchParametrages(parametrageForm.value)"
      class="form-validate form-horizontal" (submit)="searchParametrages(parametrageForm.value)" novalidate="">
      <div class="panel-body bt">
        <legend (click)="collapsedInfo = !collapsedInfo">
          <div class="panel-title">
            <i class="fa fa-plus-circle" *ngIf="collapsedInfo" aria-hidden="true"></i>
            <i class="fa fa-minus-circle" *ngIf="!collapsedInfo" baria-hidden="true"></i>
            {{ 'common.legend.search' | translate }}
          </div>
        </legend>
        <div class="panel-body ng-scope" [collapse]="collapsedInfo">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="col-sm-4 control-label">{{ 'parametrage.code.label' | translateParametrage }}</label>
                <div class="col-sm-8">
                  <input formControlName="codeLike" class="form-control" type="text" placeholder="" />
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="col-sm-4 control-label">{{ 'parametrage.valeur.label' | translateParametrage }}</label>
                <div class="col-sm-8">
                  <input formControlName="valeurLike" class="form-control" type="text" placeholder="" />
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label
                  class="col-sm-4 control-label">{{ 'parametrage.typeValeur.label' | translateParametrage }}</label>
                <div class="col-sm-8">
                  <select formControlName="typeValeur" class="form-control">
                    <option [value]=null>{{ 'common.select.notset' | translate }}</option>
                    <option *ngFor="let typeValeur of typeValeurList" [value]="typeValeur.name">
                      {{ typeValeur.displayText }}</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label
                  class="col-sm-4 control-label">{{ 'parametrage.description.label' | translateParametrage }}</label>
                <div class="col-sm-8">
                  <input formControlName="description" class="form-control" type="text" placeholder="" />
                </div>
              </div>
            </div>
          </div>

          <div class="panel-footer text-center">
            <button class="btn btn-info" type="submit" [disabled]="!parametrageForm.valid"><i class="fa fa-search"></i>
              {{ 'common.command.search' | translate }}</button>
            <button class="btn btn-default" type="button"
              (click)="reset()">{{ 'common.command.reset' | translate }}</button>
          </div>
        </div>
      </div>
    </form>
  </div>
  <!-- END panel-->
  <div class="panel panel-default" *ngIf="paginatedParametrageList">
    <div class="table-responsive">
      <table id="parametrageDataTable" #parametrageDataTable="mfDataTable1"
        class="table table-bordered table-striped table-condensed" [dataLength]="totalparametrage"
        [mfActivePage]="firstParametrage" [mfRowsOnPage]="rowsParametrage" (onChange)="onChangeParametrage($event)"
        [mfData1]="parametrageList" [mfSortOrder]="sortOrderParametrage" [mfSortBy]="sortFieldParametrage"
        [mfRowsOnPage]="rowsParametrage">
        <thead>
          <tr>
            <td colspan="7" class="paginator-data">
              <mfBootstrapPaginator1 [rowsOnPageSet]="[10,20,100]"></mfBootstrapPaginator1>
            </td>
          </tr>
          <tr>
            <!-- <th class="bt-remove">
              <button type="button" class="btn btn-danger btn-xs" title="{{  'common.label.delete' | translate }}"
                [disabled]="!selectedParametrages || selectedParametrages?.length <= 0"
                (click)="deleteParametrageModal.showViewModal()">
                <i class="fa fa-trash"></i>
              </button>
            </th> -->
            <th class="total-data" colspan="3">
              <span style="padding-left: 2%" *ngIf="parametrageList && totalparametrage > 0 "> {{ totalparametrage }}
                {{  'common.label.totalRowCount' | translate }}</span>
            </th>
            <th class="text-center">
              <div class="text-center" *ngIf="hasRole('ROLE_EXPORT')">
                <button type="button" class="btn btn-success btn-xs"
                  [disabled]="!parametrageList || parametrageList.length <= 0"
                  (click)="exportParametrage('parametrageDataTable','xls')" title="export csv"><i
                    class="fa fa-file-excel-o"></i></button>
                <button type="button" class="btn btn-danger btn-xs"
                  [disabled]="!parametrageList || parametrageList.length <= 0"
                  (click)="exportParametrage('parametrageDataTable','pdf')" title="export pdf"><i
                    class="fa fa-file-pdf-o"></i></button>
              </div>
            </th>
          </tr>
          <tr>
            <!-- <th class="text-center" style='width:5%'>
              <div class="checkbox c-checkbox">
                <label>
                  <input type="checkbox" [checked]="isCheckedAllParametrage()"
                    (change)="checkAllParametrages($event.target.checked)" />
                  <span class="fa fa-check"></span>
                </label>
              </div>
            </th> -->
            <th class="text-center column" columnName="code">
              <mfDefaultSorter1 by="code">{{'parametrage.code.label' | translateParametrage}}</mfDefaultSorter1>
            </th>
            <th class="text-center column" columnName="valeur">
              <mfDefaultSorter1 by="valeur">{{'parametrage.valeur.label' | translateParametrage}}</mfDefaultSorter1>
            </th>
            <th class="text-center column" columnName="typeValeur">
              <mfDefaultSorter1 by="typeValeur">{{'parametrage.typeValeur.label' | translateParametrage}}
              </mfDefaultSorter1>
            </th>
            <th class="text-center column" columnName="description">
              <mfDefaultSorter1 by="description">{{'parametrage.description.label' | translateParametrage}}
              </mfDefaultSorter1>
            </th>
            <!-- <th class="actions-col">{{ 'common.label.actions' | translate }}</th> -->
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of parametrageDataTable.data; let i = index" [attr.data-index]="i">
            <!-- <td class="text-center">
              <div class="checkbox c-checkbox">
                <label>
                  <input type="checkbox" (change)="checkParametrage($event.target.checked,item)"
                    [checked]="isCheckedParametrage(item)" />
                  <span class="fa fa-check"></span>
                </label>
              </div>
            </td> -->
            <td>
              <span  >{{ item.code }}</span>
            </td>
            <td>
              <span *ngIf="item.typeValeur.name == 'COULEUR'" class="circle circle-lg" style="box-shadow: 0px 0 11px -1px #aeaeae;" [style.background]=item.valeur></span>
              <span *ngIf="item.typeValeur.name == 'LOGO'" class="fa fa-eye showImage" debounceClick (debounceClick)="Loadimage(item)"></span>
              <span>{{ item.valeur }}</span>
            </td>
            <td>
              <span  >{{ item.typeValeur.displayText }}</span>
            </td>
            <td>
              <span  >{{ item.description }}</span>
            </td>
            <!-- <td class="text-center">
              <span title="Visualser" class="btn btn-xs btn-success" ><i
                  class="fa fa-eye"></i></span>
            </td> -->
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="7">
              <span *ngIf="!parametrageList || totalparametrage == 0" style='text-align:center;'>
                {{ 'common.list.empty' | translate }}</span>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
<modalCustom #deleteParametrageModal TitreHeader=" {{'common.text.confirmation' | translate }}" size="modal-sm"
  [ignoreBackdropClick]="false">
  <div class="modal-body">
    {{'common.message.confirm.deleteAll' | translate}}
  </div>
  <div class="modal-footer">
    <button class=" btn  btn-success" type="button"
      (click)="deleteParametrages()">{{ 'common.text.yes' | translate }}</button>
    <button class="btn btn-danger" type="button"
      (click)="deleteParametrageModal.hideViewModal()">{{ 'common.text.no' | translate }}</button>
  </div>
</modalCustom>

<modalCustom #showImageModal TitreHeader="Aperçu d'image" size="modal-sm"
  [ignoreBackdropClick]="true"
  [closeIcon]="true">
  <div class="model-header">
    <i class="fa fa-times" style="color: red;"></i>
  </div>
  <div class="modal-body">
    <img [src]="previewImg" style="width: 100%"/>

  </div>
</modalCustom>
