/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; background: #f1f1f1;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* width */
::-webkit-scrollbar {
  width: 5px;
  border-radius: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #3b5d66;
  border-radius: 15px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #233c42;
}

@import "./src/app/shared/styles/bootstrap.scss";

//== Toaster
@import '../node_modules/angular2-toaster/toaster.css';

//App
@import "./src/app/shared/styles/app.scss";
